body{
    display: flex;
    justify-content: center;
    background: #3D0F5E;
    height: 100vh;
    font-family: Arial, Sans-Serif;
}

.calculator{
    background:#6E1DBB;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

button{
    background: #8A2BE2;
    height: 60px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor:pointer;
    color: black;
    transition: background 0.2s;
    border-color: black;
}
button:hover{
    background: yellow;
    color: black;
}

button.zero{
    grid-column: span 2;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,70px);
    grid-gap: 10px;
}

#display{
    width: 93%;
    height: 90px;
    font-size: 1.5rem;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #F0F8FF;
    color: #333;
}